<section ng-app="myApp" ng-controller="ctrlSignupLoginPage">
  <div data-module="header-bar">
    <div header-bar-dir></div>
  </div>
  <div class="row"  data-module="signup-login">
    <div class="small-12 columns">
      <div signup-login-dir></div>
    </div>
  </div>
</section>

