<section ng-app="myApp" ng-controller="ctrlSplashPage">
  <div data-module="header-bar">
    <div header-bar-dir></div>
  </div>
  <div data-module="main-container">
    <div class="row">
      <div class="medium-6 columns defects-left">
        <div defect-status-dir></div>
      </div>
      <div class="medium-6 columns chat-right">
        <div chat-dir></div>
      </div>


    </div>
  </div>
</section>

