.bar{
    height: 50px;
    background-color: #497979;
    display: flex;
    align-items: center;
    justify-content:center;
}

.bar p{
    margin: 0;
    font-size: 30px;
    letter-spacing: 3px;
    color: white;
}

.row.bar{
    max-width: 1800px;
}

.menu{
    position: absolute;
    right: 30px;
    top: 15px;
    display: flex;
}


.menu a{
    color: whitesmoke;
    text-decoration: underline;
}

.menu a:hover{
    color: whitesmoke;
}

.menu .fade{
    margin-left: 6px;
}

.menu .fade.ng-hide {
    opacity: 0;
}

.menu .fade.ng-hide-remove,
.menu .fade.ng-hide-add {
    display: block !important; /* or inline-block, as appropriate */
}

.menu .fade.ng-hide-remove {
    transition: all linear 1000ms;
}

.menu .fade.ng-hide-add {
    transition: all linear 500ms;
}





