[data-module="main-container"] .messaging form{
    display: flex;
    align-items: center;
}

[data-module="main-container"] h3{
    color: #c74242;
}


[data-module="main-container"] > .row{
    max-width: 75rem;
    padding-bottom: 20px;
}


[data-module="main-container"] .apply-background-color{
    background-color: #f3f3f3;
    padding: 10px 0 10px 0;
}


[data-module="main-container"] .flex-it{
    display: flex;
}

@media (max-width: 639px) {
    [data-module="main-container"] .flex-it{
        flex-direction: column;
    }
}

[data-module="main-container"] .defects-left, [data-module="main-container"] .chat-right{
    flex: 0 0 49%;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 4px 4px 4px #ecd4d4
}

[data-module="main-container"] .chat-right{
    margin-left: 2%;
}

@media (max-width: 639px) {
    [data-module="main-container"] .chat-right{
        margin-left: 0%;
        margin-top: 10px;
    }
}



[data-module="main-container"] .messaging #message{
    margin: 0;
}

[data-module="main-container"] .messaging .button{
    height: 37px;
    margin: 0;
    padding-top: 11px;
    margin-left: 4px;
}

[data-module="main-container"] .chats{
    height: 0px;
    border: 1px solid #ece4e4;
    margin-bottom: 4px;
    overflow-y: auto;
}

[data-module="main-container"] .chats .chat-row{
    padding: 6px;
    margin-bottom: 14px;
    border-radius: 19px;
    margin-left: 4px;
    margin-right: 4px;

 }

[data-module="main-container"] .chats .name-time{
    display: flex;
    align-items: center;
}

[data-module="main-container"] .chats .message-text{
    color: #776767;
}




[data-module="main-container"] .chats .name{
    font-size: 15px;
    font-weight: bold;
    color: #3c3939;
    margin-right: 8px;
}

[data-module="main-container"] .chats .time{
    font-size: 11px;
    opacity: .5;
}

[data-module="main-container"] .chats .messaging{
    font-size: 14px;
    line-height: 16px;
}


[data-module="main-container"] .defect-container{
    height: 500px;
}

[data-module="main-container"] .defect-status-container {
    position: relative;
}

[data-module="main-container"] .defect-status-container input{
    padding-left: 40px;
}


[data-module="main-container"] .defect-status-container .fa-search{
    position: absolute;
    top: 4px;
    left: 4px;
    color: #e2dddd;
}

[data-module="main-container"] .defect-container .checked{
    margin-right: 20px;
}

[data-module="main-container"] .defect-container .checked i:hover{
    cursor: pointer;
}


[data-module="main-container"] .other-content{
    transition: .2s linear all;
    overflow: hidden;
    height: 115px;
}

@media (max-width: 1023px) {
    [data-module="main-container"] .other-content{

        height: 255px;
    }
}


[data-module="main-container"] .other-content .flex-container{
    display: flex;
    flex: 1;
}

[data-module="main-container"] .other-content .flex-container:nth-of-type(1){
    justify-content: flex-start;
}

[data-module="main-container"] .other-content .flex-container:nth-of-type(2){
    justify-content: center;
}

[data-module="main-container"] .other-content .flex-container:nth-of-type(3){
    justify-content: flex-end;
}

[data-module="main-container"] .other-content.ng-hide{
    height: 0;
}

[data-module="main-container"] .other-content .status{
    display: flex;
    justify-content: space-between;
}

[data-module="main-container"] .defect-container .defect-row{
    margin-bottom: 20px;
    border-bottom:1px solid #d4d1d1;
}

[data-module="main-container"] .defect-container .name-description{
    display: flex;
    margin-bottom: 10px;

}

[data-module="main-container"] .defect-container .claimed-by{
    margin-left: auto

}

[data-module="main-container"] .defect-container .claimed-by span{
    border-radius: 30px;
    background-color: #979abf;
    color: white;
    padding: 4px;
}


[data-module="main-container"] .defect-container .button-group{
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1023px) {
    [data-module="main-container"] .defect-container .button-group{
        flex-direction: column;
        justify-content: baseline;
    }
}

@media (max-width: 1023px) {
    [data-module="main-container"] .defect-container .button-group .button{
        width: 100%;
    }
}




