<section data-module="header">
  <div class="header">
    <div class="menu">

      <a href="javascript:void(0)" ng-init="showUsers=false" ng-click="showUsers=!showUsers">
        <i class="fa fa-cog" aria-hidden="true"></i>
      </a>
      <ul ng-class="{'fade-in': showUsers}">
        <li>
          <i class="fa fa-user" aria-hidden="true"></i>
          <a href="javascript:void(0)">Profile</a>
        </li>
        <li>
          <i class="fa fa-sign-out" aria-hidden="true"></i>
          <a href="/logout">Logout</a>

        </li>
      </ul>


    </div>
    <div class="hidden-element"></div>
    <div class="heading">
      <h4>[[heading]]</h4>
    </div>
    <div class="avatars">
      <ul>
        <li ng-repeat="avatar in avatars track by $index">[[avatar]]</li>
      </ul>
    </div>
  </div>
</section>